@use 'styles/colors'

#container
    height: 100%
    width: 100%
    padding-left: 15vw
    padding-right: 15vw
    display: flex
    flex-direction: column

    .title
        text-align: center
        margin-top: 7rem
        font-size: 2.5em
        font-weight: 500
        text-decoration: underline

    .black-text
        color: black

    .timeline-title
        text-align: center
        font-size: 1.5em
        font-weight: 500

    @media (max-width: 800px)
        #container-description
            grid-template-rows: auto
            grid-template-columns: auto !important
            height: 100% !important
        .my-image
            margin-top: 4vh

    @media (max-width: 320px)
        #container-description
            display: block !important

        .icons
            img
                width: 35px !important
                height: 35px !important

    #container-description
        margin-bottom: 7vh
        margin-top: 6vh
        width: 100%
        border: 1px solid rgb(220, 220, 220)
        box-shadow: 0px 8px 8px rgb(200, 200, 200)
        display: grid
        grid-template-columns: 3fr 1.2fr
        background-color: white

        .description
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            padding-bottom: 4rem
            .title-name
                margin-top: 4rem
                font-size: 1.5em
                font-weight: 500

            .biography
                margin-top: 4vh
                padding-left: 4vw
                padding-right: 4vw
                text-align: justify

            .icons
                margin-top: 3rem
                bottom: 0
                display: flex
                flex-direction: row
                img
                    margin: 0.5rem
                    width: 40px
                    height: 40px

        .my-image
            img
                width: 100%
                height: 100%
                object-fit: cover

.vertical-timeline .vertical-timeline-custom-line::before
    background: #424242
    color: blue
