@use 'styles/colors'

#container
    height: 100%
    width: 100%
    padding-left: 15vw
    padding-right: 15vw
    display: flex
    flex-direction: column
    align-items: center

    .title
        margin-top: 5vh
        font-size: 2.5em
        font-weight: 500
        text-decoration: underline

    @media (max-width: 667px)
        #container-description
            grid-template-rows: 4fr 1fr
            grid-template-columns: auto !important
        .my-image
            margin-top: 4vh

    #container-description
        margin-bottom: 15vh
        margin-top: 6vh
        width: 100%
        height: 40vh
        border: 1px solid colors.$very-light-grey
        box-shadow: 0px 8px 8px colors.$light-grey
        display: grid
        grid-template-columns: 3fr 1.4fr

        .description
            display: flex
            flex-direction: column
            align-items: center
            .title-name
                margin-top: 5vh
                font-size: 1.5em
                font-weight: 500

            .biography
                margin-top: 4vh
                padding-left: 4vw
                padding-right: 4vw
            
            .icons
                margin-top: 3rem
                bottom: 0
                display: flex
                flex-direction: row
                img
                    margin: 0.5rem
                    width: 40px
                    height: 40px

        .my-image
            img
                width: 100%
                height: 100%

@media (max-width: 667px)
    #container
        height: 90vh
        
