.card-container
    display: block
    margin-top: 3rem
    margin-left: 1.5rem
    margin-right: 1.5rem
    width: 25rem
    height: 15rem
    perspective: 800px

    .card-box
        height: 100%
        width: 100%
        box-shadow: 0px 3px 5px 2px rgb(200, 200, 200)
        border-radius: 5px
        transition: 0.5s
        transform-style: preserve-3d
        display: flex
        justify-content: center

.front, .back
    position: absolute
    top: 0
    height: 100%
    width: 100%
    backface-visibility: hidden
    -webkit-backface-visibility: hidden

.front
    width: auto
    img
        // object-fit: none
        border: 1px solid rgb(200, 200, 200)
        height: 100%
        width: 100%
        transition: 0.5s

.back
    transform: rotateY(180deg)
    background: rgb(0, 0, 0, 0.5)
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    color: white
    .title
        opacity: 2
        font-size: 1.3em
        text-decoration: underline
    .description
        opacity: 1
        font-size: 1.0em
        margin-top: 1rem
        padding-left: 2rem
        padding-right: 2rem
        text-align: center

.card-container:hover .card-box
    transform: rotateY(180deg)

    img
        filter: blur(2px)
        transform: rotateY(180deg)

@media (min-width: 341px) and (max-width: 500px)
    .card-container
        height: 10rem
        width: 20rem
        margin-left: 0.5rem
        margin-right: 0.5rem
        .title
            font-size: 1rem
        .description
            margin-top: 0.7rem !important
            font-size: 0.8rem

@media (max-width: 340px)
    .card-container
        height: 7rem
        width: 15rem
        .title
            font-size: 0.8rem
        .description
            margin-top: 0.5rem !important
            font-size: 0.6rem
