
#container
    width: 100%
    height: 100%

.parallax
    z-index: -1
    height: 100%
    width: 100%
    overflow-x: hidden
    background-image: url('../public/assets/Background.jpg')
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: 100% 100%
    color: white

    #home-container
        overflow-y: hidden
        overflow-x: hidden
        display: flex
        height: 100%
        min-height: 100vh
        flex-direction: row
        padding-left: 15vw
        padding-right: 15vw
        margin-bottom: 2rem
        flex-wrap: wrap
        justify-content: center
        align-items: center
        align-content: center

        #introduction-container
            display: flex
            justify-content: center
            flex-direction: column
            text-align: end

            .introduction-hello
                font-size: 2em

            .introduction-name
                font-size: 3.5em

        #logo-container
            position: relative
            margin-top: -3rem
            margin-left: 2rem
            margin-right: 2rem

            #main-logo
                padding-left: 6.5rem
                padding-top: 7em
                img
                    height: 350px
                    width: 350px

            #main-logo-outline
                position: absolute
                z-index: 1
                top: 0
                left: 0
                animation: rotate linear 5s
                animation-iteration-count: infinite
                img
                    height: 550px
                    width: 550px

@media(max-width: 768px)
    #main-logo
        margin-top: 4rem
        padding-left: 1rem !important
        padding-top: 5rem !important
        img
            height: 250px !important
            width: 250px !important

    #main-logo-outline
        margin-left: -4rem
        img
            height: 400px !important
            width: 400px !important

@keyframes rotate
    0%
        transform: rotateZ(0deg)
    100%
        transform: rotateZ(360deg)

.vertical-timeline.vertical-timeline-custom-line::before
    background: #424242
